<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">About me</h2>
        <p class="text-white-50">Welcome to my website, my name is Louis and I living in Switzerland. I'm an Interactive Designer student at ERACOM, the School of Art and Communication of Lausanne. Cinema and Video are my Passion but I do other things like Photography, Graphic Design and more.</p>
      </div>
    </div>
</section>
