<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ "assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">

  <!-- Custom fonts for this template -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/grayscale.min.css" rel="stylesheet">
  <link href="assets/css/grayscale.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
