*{
  margin: 0;
  padding: 0;
}

body {
  @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.tire_et_plus{
  text-align: center;
  font-size: 2.5rem;
}

.header{
  background-image: linear-gradient(#9b59b6 , #3498db);
  height: 35vh;
  width: 100vw;
}

.titre-header{
  color: white;
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.presente-par{
  text-align: center;
  padding-top: 1%;
  font-size: 1.5rem;
  font-weight: 200;
}

.image{
  transition: .5s ease;
  width: 25%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.image:hover{
  width: 27%;
  transition: .5s ease;
}

.infos {
 padding-bottom: 50px;
 font-size: 1rem;
 text-align: center;
}

.synopsis{
  padding-left: 200px;
  padding-right: 200px;
}

a{
  text-decoration: none;
  color: white;
  transition: .5s ease;
}

a:hover{
  color: #f1c40f;
  transition: .5s ease;
}

.hello{
  background-image: linear-gradient(#3498db , #4a69bd);
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.bande-annonce{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 175px;
}

.footer{
  background-color: #4a69bd ;
  height: 15vh;
  width: 100vw;
}

.copyright-ligne-1{
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.copyright-ligne-2{
  text-align: center;
  font-weight: 200;
}
