<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
  <section>
    {% include header.html %}
  </section>
  <section>
    <section class="hello">
    {% for films in site.films %}
    <h1 class="tire_et_plus" >{{ films.ranking }} . {{ films.title }}</h1>
    <a href="{{ site.baseurl }}{% link top-5.html %}"><img class="image" src="{{ films.image | relative_url }}"></img></a>
    {% endfor %}
    </section>
  </section>
  <section>
    {% include footer.html %}
  </section>
  </body>
</html>
